@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.LogoName {
  font-weight: 700;
  font-family: 'Cardo', serif;
  color: #000;
  font-size: 2.5rem;
}

header > button {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.rotate {
  transform: rotate(-180deg);
  transition: 150ms ease-in-out;
}

.reverse-rotate {
  transform: rotate(0deg);
  transition: 200ms ease-in-out;
}

/* ? product add css */

.drag-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

.drag-con {
  aspect-ratio: 4/2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ff7e8b 2px dashed;
}

.drag-text-image {
  text-decoration: #ff7e8b underline;
  font-weight: 600;
}

.textBox {
  background-color: #fff;
  width: 100%;
  height: 2.8rem;
  margin-top: 1rem;
  border-radius: 4px;
  border: #ff7e8b solid 0.1rem;
  padding: 4px 6px;
}

.textBox:is(:hover, :focus) {
  outline: none;
}

.btn-full {
  width: 100%;
  background-color: #ff7e8b;
  padding: 4px 6px;
  border-radius: 4px;
  margin-top: 1.2rem;
}

.bigText {
  font-family: 'cardo';
  font-weight: 600;
  font-size: 2rem;
}

.para {
  color: #555;
  font-family: 'Montserrat', sans-serif;
}

.animateArrow {
  margin-left: 1rem;
  transition: margin-left 0.3s ease-in-out;
}

.categoryBtn:hover > .animateArrow {
  margin-left: 1.3rem;
  transition: margin-left 0.1s ease-in-out;
}

/* ? glassmorphism */
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

div.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.border-1px {
  outline: 0.1rem solid #9c9c9c;
}

.label {
  font: 700;
  font-size: 4rem;
}

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  color: #766df4;
  background: linear-gradient(currentColor 0 0) center/100% 3px,
    linear-gradient(currentColor 0 0) center/3px 100%;
  background-repeat: no-repeat;
  animation: s8 2s infinite;
}

.custom-loader::before,
.custom-loader::after {
  content: '';
  grid-area: 1/1;
  background: repeating-conic-gradient(#0000 0 35deg, currentColor 0 90deg);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}
.custom-loader::after {
  margin: 20%;
}

@keyframes s8 {
  100% {
    transform: rotate(1turn);
  }
}

.resimg {
  background-image: url('https://res.cloudinary.com/dd39ktpmz/image/upload/v1685773766/ck/client_static/hkbcuehiaiwvzkiqqs2n.avif');
}
.skeleton {
  opacity: 0.5;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.slider {
  overflow: hidden;
  animation: slide 0.3s 1 ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.border-1 {
  border: 1px solid;
}

.message-box {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    78% 100%,
    50% 75%,
    0% 75%
  );
}

.message-box-alt {
  transform: rotateY(180deg);
}

/* * curved Underline  */
.underline-curve {
  position: relative;
}

.underline-curve:after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: solid 3px #ff7e8b;
  left: 0;
  bottom: -10px;
  border-radius: 50%;
  height: 8px;
}
