.rotate-img {
  rotate: 0deg;
  animation: rotate-img infinite ease-in-out 10s;
}

@keyframes rotate-img {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 90deg;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: 270deg;
  }
  100% {
    rotate: 360deg;
  }
}
